body {
  font-family: 'EB Garamond';
}

.navbar {
    margin-bottom: 0 !important;
    background-color: #e75b4c !important;
    border: 0 !important;
    font-size: 12px !important;
    font-weight:bold;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857143 !important;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.container-fluid {
    padding: 200px 50px !important;
}

.bg-1 {
  background-color: #e75b4c;
  color:  #fffaf0;
}

.font1 {
  font-family: 'EB Garamond';
  font-size: 90px;
}

.font2 {
  font-size: 60px;
  color:#f2f2f2;
  font-family: 'EB Garamond';
}

.font3 {
  font-family: 'Quintessential', cursive;
}

.bg-2 {
    background-color: #f2f2f2;
    color: black;
    font-family: 'EB Garamond';
    font-size: 30px;
    font-weight: bolder;
}

.about_me_text {
    font-size: 20px;
    font-weight:bold;
    color: #808080;
    font-family:'Quintessential';
}

#make {
    color:#e75b4c;
}

.picture {
    height:300px;
    width:500px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.bg-3 {
    background-color: white;
    color: #000033;
    font-family: 'EB Garamond';
    font-size: 20px;
}

.login_text {
    font-size:25px;
    font-weight:bold;
}

.bg-4 {
  background-color: #f2f2f2;
  font-family: 'EB Garamond';
  font-size: 20px;
}

footer .glyphicon {
    font-size: 12px;
    margin-bottom: 20px;
    color:  #e75b4c;
}

.bg-4 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
