body {
  margin: 0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  height:600px;
  width:100%;
  background-color: #e75b4c; 
}

.logo {
  float:left;
  width:10%;
  margin-left:60px;
  }

.logo p {
  color:white;
  font-size: 20px;
  height: 24px;
}

.nav {
  width:30%;
  float:right;
}

.nav ul li{
  display: inline-block;
  font-size: 14px;
  list-style: none;
  color: #fffaf0;
  font-family: inherit;
  padding: 10px;
  }

  .nav ul li a {
    text-decoration: none;
    color: #fffaf0;
  }

.main {
  width:50%;
  margin-left: 50px;
  margin-top: 100px;
  position:absolute;
}

.main p {
  color: white;
  font-family: 'EB Garamond';
  font-size: 90px;
}

#desc {
  font-size: 60px;
  color:#f2f2f2;
  margin-top:-110px;
}

.and {
  font-family: 'Quintessential', cursive;
}

.content {
  height: 600px;
  width: 100%;
  background-color: #f2f2f2;
}

.picture {
  height:300px;
  width:300px;
  border-radius: 100%;
  margin-left: 150px;
  margin-top: 150px;
  position:absolute;
  background-image: url('https://scontent.fbom1-1.fna.fbcdn.net/v/t1.0-9/13241327_606108772872241_6760825653782625519_n.jpg?oh=7702548f4675b6ca2a28ae7c493fa1f3&oe=58C3D17E');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:center;
}

.myself {
  height:450px;
  width:700px;
  margin-left: 550px;
  margin-top:100px;
  position:absolute;
}
